
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ErrorPage>
@using ABP.Web.Models.UmbracoModels
@using Umbraco.Extensions
@using Umbraco.Cms.Core.Models

@{
    Layout = "abpMaster.cshtml";

    var title = Model.Value<string>("title");
    var error = Model.Value<string>("error");
    var description = Model.Value<string>("description");
    var cta = Model.Value<Link>("cta");
    var image = Model.Value<MediaWithCrops>("image");

    var backgroundImage = image?.Url() ?? "/images/error-image-1.jpg"; // fallback image
}

<div class="error has-cover" style="background-image: url('@backgroundImage');">
    <div class="wrap">
        <div class="error__content">
            @if (!string.IsNullOrWhiteSpace(title))
            {
                <h5 class="error__subtitle">@title</h5>
            }


            @if (!string.IsNullOrWhiteSpace(error))
            {
                <h1 class="error__title">@error</h1>
            }

            @if (!string.IsNullOrWhiteSpace(description))
            {
                <p class="error__text">@Html.Raw(description)</p>
            }

            @if (cta != null && !string.IsNullOrWhiteSpace(cta.Url))
            {
                <a href="@cta.Url" target="@cta.Target" class="btn btn--transparent error__btn">
                    @(cta.Name ?? "Go to our homepage")
                </a>
            }
        </div>
    </div>
</div>
